@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
}

body {
  font-family: "PP Neue Montreal", sans-serif;
}

.font-heading {
  font-size: calc(144 / var(--vw) * var(--multiplier));
  font-weight: 300;
  letter-spacing: -.02em;
  line-height: 1.33;
}

.font-body {
  font-size: calc(18 / var(--vw) * var(--multiplier));
  font-weight: 400;
  line-height: 1.33;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #ffd43a;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
  transform-origin: center center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  z-index: 2;
}

nav a {
  color: #ffd43a;
}

.nav-items {
  display: flex;
  gap: 1.5em;
}

h1, a, p {
  color: #fff;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-indent: 8rem;
  font-size: 4rem;
}

a, p {
  text-decoration: none;
  font-size: 1rem;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero-video {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #141414;
  --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%);
  mask-image: var(--mask-gradient);
  -webkit-mask-image: var(--mask-gradient);
  will-change: mask-image;
}

.carousel-text {
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 0;
  bottom: calc(126/var(--vw)*var(--multiplier));
  color: #ffd43a;
  overflow: hidden;
  pointer-events: none;
}

.carousel-text h2 {
  text-wrap: nowrap;
}

.marquee_wrapper {
  display: flex;
  width: 100%;
}

.marquee_group {
  display: inline-block;
  flex-shrink: 0;
  min-width: 100%;
  padding-left: .25em;
}

.marquee_group p {
  text-wrap: nowrap;
}

.marquee_group p {
  display: flex;
  gap:0;
}

.bottom-text {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: calc(40 / var(--vw) * var(--multiplier));
  left: 0;
  overflow: hidden;
}

.container {
  display: block;
  padding: 0 calc(64 / var(--vw) * var(--multiplier));
  position: relative;
  width: 100%;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #ffd43a;
}

.text-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: calc(20 / var(--vw) * var(--multiplier));
  position: relative;
  width: 100%;
}

.intro, .outro {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #141414;
}

.slide-images, .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#img-2 {
  --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%);
  height: 100%;
  width: 100%;
  inset: 0;
  mask-image: var(--mask-gradient);
  -webkit-mask-image: var(--mask-gradient);
  position: absolute;
  will-change: mask-image, transform, scale;
}

#img-3 {
  --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%);
  height: 100%;
  width: 100%;
  inset: 0;
  mask-image: var(--mask-gradient);
  -webkit-mask-image: var(--mask-gradient);
  position: absolute;
  will-change: mask-image, transform, scale;
}

#img-4 {
  --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%, #000 0% 0%, transparent 0% 0%);
  height: 100%;
  width: 100%;
  inset: 0;
  mask-image: var(--mask-gradient);
  -webkit-mask-image: var(--mask-gradient);
  position: absolute;
  will-change: mask-image, transform, scale;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.slide-info {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transform: translateY(-50%);
  width: 100vw;
  padding: 0 6em;
  display: flex;
  gap: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.slide-info > * {
  flex: 1;
}

.slide-info p, .slide-link a {
  font-size: 36px;
  will-change: transform;
}

.slide-link {
  display: flex;
  justify-content: flex-end;
}

.slide-title {
  position: relative;
  flex: 2;
  height: 40px;
  overflow: hidden;
}

.slide-title p {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }

  .slide-title-prefix {
    display: none;
  } 

  .slide-title {
    height: 22px;
  }

  .slide-info p, .slide-link a {
    font-size: 18px;
  }
}